.App {
  text-align: center;
}

a {
  text-decoration: none !important;
  color: white !important;
}

.navbar {
  height: 80px;
}

  li {
    margin-left: 25px;
  }

  .navbar, .container-fluid, .nav-pills{
    background-color: #154c79;
  }

  .form-class {
    width: 50%;
  }

  .landing-div, .liveDb-div {
    margin-left: 30%;
    margin-top: 50px;
  }

  .liveDb-div .card {
    margin-bottom: 20px;
  }