.App {
  text-align: center;
}

.nav-item a {
  text-decoration: none !important;
  color: white !important;
}

h3 a, h2 a {
  text-decoration: none !important;
  color: blue !important;
}

h3 a:hover, h2 a:hover {
  text-decoration: underline !important;
}

.navbar {
  height: 80px;
}

  li {
    margin-left: 25px;
  }

  .navbar, .container-fluid, .nav-pills{
    background-color: #154c79;
  }

  .form-class {
    width: 50%;
  }

  .landing-div, .liveDb-div {
    margin-left: 30%;
    margin-top: 50px;
  }

  .liveDb-div .card {
    margin-bottom: 20px;
  }

  .about-content img {
    width: 100%;
  }

  .about-content {
    margin-top: 20px;
    margin-left: 20px;
  }

  #root .container {
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    width: 1000px;
  }
  
  .filterDiv {
    margin: 50px 0 10px 200px;
  }

  .filterDiv form {
    margin-left: 10px;
  }

  .filterDiv .defaultHidden {
    display: none;
  }

  .filterValues div {
    margin-left: 10px;
  }

  .filterValues button {
    margin-top: 10px;
  }

  .dropdown {
    min-width: 130px;
  }

  .filterValues select{
    min-width: 415px;
  }

  #map {
    height: 600px;
    }

.dropdown-toggle::after {
  margin-right: 1.255em;
}

.loader {
  position: absolute;
    top: 210px;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
  border: 16px solid #f3f3f3; /* Light grey */
   border-top: 16px solid #3498db; /* Blue */
   border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 

#preview{
  width: 100px;
  height: 100px;
}

.container.loaderContainer {
    height: 120px;
    border: none !important;
    padding: 10px 10px 0 0;
    margin: 10px 10px 0 0;
    /* display: none; */
}

.loaderContainer.hide {
  display: none;
}

.loaderContainer.show {
  display:block;
}