.App {
  text-align: center;
}

.nav-item a {
  text-decoration: none !important;
  color: white !important;
}

h3 a, h2 a {
  text-decoration: none !important;
  color: blue !important;
}

h3 a:hover, h2 a:hover {
  text-decoration: underline !important;
}

.navbar {
  height: 80px;
}

  li {
    margin-left: 25px;
  }

  .navbar, .container-fluid, .nav-pills{
    background-color: #154c79;
  }

  .form-class {
    width: 50%;
  }

  .landing-div, .liveDb-div {
    margin-left: 30%;
    margin-top: 50px;
  }

  .liveDb-div .card {
    margin-bottom: 20px;
  }

  .about-content img {
    width: 100%;
  }

  .about-content {
    margin-top: 20px;
    margin-left: 20px;
  }

  #root .container {
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    width: 1000px;
  }
  
  .filterDiv {
    margin: 10px 0 10px 200px;
  }

  .filterDiv form {
    margin-left: 10px;
  }

  .filterDiv .defaultHidden {
    display: none;
  }

  .filterValues div {
    margin-left: 10px;
  }

  .filterValues button {
    margin-top: 10px;
  }

  .dropdown {
    min-width: 130px;
  }

  .filterValues select{
    min-width: 415px;
  }

  #map {
    height: 400px;
    }
