.App {
  text-align: center;
}

.nav-item a {
  text-decoration: none !important;
  color: white !important;
}

h3 a, h2 a {
  text-decoration: none !important;
  color: blue !important;
}

h3 a:hover, h2 a:hover {
  text-decoration: underline !important;
}

.navbar {
  height: 80px;
}

  li {
    margin-left: 25px;
  }

  .navbar, .container-fluid, .nav-pills{
    background-color: #154c79;
  }

  .form-class {
    width: 50%;
  }

  .landing-div, .liveDb-div {
    margin-left: 30%;
    margin-top: 50px;
  }

  .liveDb-div .card {
    margin-bottom: 20px;
  }

  .about-content img {
    width: 100%;
  }

  .about-content {
    margin-top: 20px;
    margin-left: 20px;
  }
  